<div class="container mt-4">
  <h2>{{ archived ? 'Notas Archivadas' : 'Notas Activas' }}</h2>
  
  
  <div *ngIf="notes.length > 0; else emptyList" class="row">
    <div *ngFor="let note of notes" class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <p class="card-text">{{ note.content }}</p>
          <div>
            
            <span
              *ngFor="let tag of note.tags"
              class="badge bg-primary me-1"
            >
              {{ tag.name }}
            </span>
          </div>
          
          <div class="d-flex justify-content-between mt-3">
            <button
              *ngIf="!archived"
              class="btn btn-sm btn-warning"
              (click)="archive(note.id)"
            >
              Archive Note
            </button>
            <button
            class="btn btn-secondary"
            [routerLink]="['/notes/edit', note.id]"
          >
            Edit Note
          </button>
            <button
              *ngIf="archived"
              class="btn btn-sm btn-success"
              (click)="unarchive(note.id)"
            >
              Unarchive Note
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <ng-template #emptyList>
    <p class="text-center text-muted">No hay notas para mostrar.</p>
  </ng-template>
</div>
